<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Title</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
              integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
              crossorigin="anonymous">
        <link rel="stylesheet" href="static/whereis-style.css">
    </head>
    <body>
    <h1>SIIRRÄ KOKO PASKA NODEEN JA TEE API FLASKILLA :)</h1>
        <div id="container"></div>
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <script type="text/babel" src="https://cdnjs.cloudflare.com/ajax/libs/react-modal/3.8.1/react-modal.js"></script>
        <script type="text/babel" src="static/ItemSearch.js"></script>
        <script type="text/babel" src="static/ResultView.js"></script>
        <script type="text/babel" src="static/AddControls.js"></script>
        <script type="text/babel" src="static/AddModal.js"></script>
        <script src="static/app.js" type="text/babel"></script>
    </body>
</html>